@model OnlinePollingSystem.Models.DetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="jumbotron">
    <h1> @Model.Poll.Title </h1>
    <p class="lead"> @Model.Poll.PostDate </p>
    <p> @Model.Poll.PostDate.ToString("d MMM yyyy") </p>

</div>

@foreach (var option in Model.Options)
{
    <div class="checkbox">
        @Html.CheckBox(option.OptionName, option.Status, new { @class = "checkbox" })
    </div>
}

@using (Html.BeginForm("NewOption", "Poll", Model.Poll))
{


    var option = Model.NewOption;

    <div class="form-group">

        @Html.TextBoxFor(m => option.OptionName, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => option.Id)
    <button type="submit" class="btn btn-primary"> New Option </button>
}